@import url('https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400..700;1,400..700&family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    padding: 7rem 0;
}

img {
   width: 22rem;
   border-radius: 5px;
    align-items: center;
}

header {
    display: flex;
    flex-direction: column;
    align-items: center;
}


main {
    display: flex;
    flex-direction: column;
    padding: 2rem;
    align-items: center;
}

input[type="email"], [type="password"] {
    border: 2.5px solid #5170FF;
    border-radius: 10px;
    padding: 0.6rem;
    width: 15rem;
}

input::placeholder {
    text-align: center;
    color: #737373;
    font-family: "Cabin", sans-serif;
}

button {
    background-color:#5170FF;
    border: 2.5px solid #004AAD;
    padding: 0.6rem;
    border-radius: 10px;
    color: white;
    font-size: 1rem;
    font-family: "Cabin", sans-serif;
    cursor: pointer;
    width: 15rem;
}



p a {
    text-decoration: none;
    color: #737373;
    gap: 1rem;
    font-family: "Cabin", sans-serif;

}



