<section id="home">
    <header>
        <div class="logo">
            <img class="logo-icon" src="assets/logo.png" alt="image">
        </div>
        <div class="streak">
            <img class="streak-icon" src="assets/icon-fire.png" alt="image">
            <p class="quantity">25</p>
        </div>
        <div class="lifes">
            <img class="lifes-icon" src="assets/icon-heart.png" alt="image">
            <p class="quantity">5</p>
        </div>
        <div class="coins">
            <img class="coins-icon" src="assets/icon-coins.png" alt="image">
            <p class="quantity">5</p>
        </div>
        <div class="profile">
            <img class="profile-icon" src="assets/icon-profile.png" alt="image">
        </div>
    </header>
    
    <main>
        <!-- Primeira fileira de módulos -->
        <div class="modulos-row">
            <div class="modulo">
                <img src="assets/familia.png" alt="Família">
                <span>Família</span>
            </div>
            <div class="modulo">
                <img src="assets/comidas.png" alt="Comidas">
                <span>Comidas</span>
            </div>
            <div class="modulo">
                <img src="assets/objetos.png" alt="Objetos">
                <span>Objetos</span>
            </div>
            <div class="modulo">
                <img src="assets/sentimentos.png" alt="Sentimentos">
                <span>Sentimentos</span>
            </div>
        </div>
    
        <!-- Segunda fileira de módulos -->
        <div class="modulos-row">
            <div class="modulo">
                <img src="assets/profissoes.png" alt="Profissões">
                <span>Profissões</span>
            </div>
            <div class="modulo">
                <img src="assets/transporte.png" alt="Transporte">
                <span>Transporte</span>
            </div>
            <div class="modulo">
                <img src="assets/tecnologia.png" alt="Tecnologia">
                <span>Tecnologia</span>
            </div>
            <div class="modulo">
                <img src="assets/esportes.png" alt="Esportes">
                <span>Esportes</span>
            </div>
        </div>
    </main>

</section>