<section id="home">
    <header>
        <div class="logo">
            <img class="logo-icon" src="assets/logo.png" alt="image">
        </div>
        <div class="streak">
            <img class="streak-icon" src="assets/icon-fire.png" alt="image">
            <p class="quantity">25</p>
        </div>
        <div class="lifes">
            <img class="lifes-icon" src="assets/icon-heart.png" alt="image">
            <p class="quantity">5</p>
        </div>
        <div class="coins">
            <img class="coins-icon" src="assets/icon-coins.png" alt="image">
            <p class="quantity">5</p>
        </div>
    </header>

    <main>
        <div class="modules-content">
            <!-- Primeira fileira de módulos -->
            <div class="modules-row">
                <div class="module" routerLink="/niveis/alfabeto">
                    <div class="module-background">
                        <img src="assets/icon-alphabet.png" alt="Alfabeto">
                    </div>
                    <p class="module-title">Alfabeto</p>
                    <p class="module-levels">x/10</p>
                </div>

                <div class="module" routerLink="/niveis/saudacoes">
                    <div class="module-background">
                        <img src="assets/icon-greetings.png" alt="Saudações">
                    </div>
                    <p class="module-title">Saudações</p>
                    <p class="module-levels">x/10</p>
                </div>

                <div class="module" routerLink="/niveis/tempo">
                    <div class="module-background">
                        <img src="assets/icon-clock.png" alt="Tempo">
                    </div>
                    <p class="module-title">Tempo</p>
                    <p class="module-levels">x/10</p>
                </div>
            </div>
        </div>

        <!-- Segunda fileira de módulos -->
        <div class="modules-row">
            <div class="module" routerLink="/niveis/lugares">
                <div class="module-background">
                    <img src="assets/icon-pin.png" alt="Lugares">
                </div>
                <p class="module-title">Lugares</p>
                <p class="module-levels">x/10</p>
            </div>

            <div class="module" routerLink="/niveis/partes-do-corpo">
                <div class="module-background">
                    <img src="assets/icon-person.png" alt="Partes do Corpo">
                </div>
                <p class="module-title">Partes do corpo</p>
                <p class="module-levels">x/10</p>
            </div>

            <div class="module" routerLink="/niveis/familia">
                <div class="module-background">
                    <img src="assets/icon-family.png" alt="Família">
                </div>
                <p class="module-title">Família</p>
                <p class="module-levels">x/10</p>
            </div>
        </div>

    </main>

</section>