<section id="login">

    <div class="login">

        <!-- <div class="image-icon"> -->
            <!-- <img src="assets/logo.svg.png" alt="image"> -->
        <!-- </div> -->

        <h2>TESTE</h2>

        <!-- <div class="erro" [hidden]="!getError()">
            <mat-card>Login ou senha inválidos!</mat-card>
        </div>

        <form [formGroup]="loginForm" (ngSubmit)="submitLogin()">

            <div class="input-login">
                <mat-form-field appearance="outline">
                    <mat-label>Informe seu email</mat-label>
                    <input matInput type="email" placeholder="exemplo@email.com" formControlName="email" required>
                </mat-form-field>
            </div>

            <div class="input-password">
                <mat-form-field appearance="outline">
                    <mat-label>Informe sua senha</mat-label>
                    <input matInput type="password" formControlName="password" required>
                </mat-form-field>
            </div>

            <div class="button-submit">
                <button mat-raised-button type="submit" [disabled]="">Entrar</button>
            </div>

        </form>


        <div class="button-esqueceu">
            <button mat-raised-button type="submit" disabled>Esqueci a senha</button>
        </div>

        <div class="button-cadastrar">
            <button mat-raised-button type="submit" routerLink="/criaconta">Crie uma conta</button>
        </div>
 -->

    </div>

</section>
