html, body {
    height: 100%;
    margin: 0;         
    padding: 0;         
    background-color: #d6e9ff;
}

#sign-in {
  background-color: #d6e9ff;
  font-family: 'Lato', sans-serif;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#sign-in .sign-in {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 46px;
  gap: 24px;
}

#sign-in .image-icon  {
  margin-top: 60px;
  margin-bottom: 24px;
  align-items: center;
}

#sign-in .image-icon img {
  height: 40%;
}

#sign-in .sign-in p{
  font-weight: 550;
  font-size: 1.4rem;
  margin: 0px;
}

#sign-in .input  {
  width: 100%;
  max-width: 400px;
  display: flex;
  justify-content: center;
  gap: 10px;
}

#sign-in .button-create button {
  font-size: 1.2rem;
  color: white; 
  background-color: #004AAD;
  padding: 24px 100px;
  width: 100%; 
  max-width: 400px; 
  font-family: 'Lato', sans-serif;
  font-weight: 550;
}